html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Allison';
  src: url("../fonts/Allison-Regular.eot");
  src: url("../fonts/Allison-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Allison-Regular.woff2") format("woff2"), url("../fonts/Allison-Regular.woff") format("woff"), url("../fonts/Allison-Regular.ttf") format("truetype"), url("../fonts/Allison-Regular.svg#Allison-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (max-width: 800px) {
  header .container {
    align-items: center;
    justify-content: center;
  }
}

.section .container .images {
  display: flex;
  flex-wrap: wrap;
}

header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  background-color: #7f6e83;
}

header .container .list-1 {
  font-family: "ZCOOL KuaiLe", cursive;
}

header .container .list-1 a {
  color: #1f1f1f;
  transition: all 2s linear;
}

header .container .list-1 a:hover {
  color: khaki;
}

header .container .list-2 {
  font-family: "Allison";
}

header .container .list-2 a {
  color: #1f1f1f;
  font-weight: bold;
}

.section {
  margin-top: 200px;
}

.section .container {
  background-color: #aCA9CE;
  max-width: 1200px;
  margin: 0 auto;
}

.section .container h2 {
  font-family: "ZCOOL KuaiLe", cursive;
  color: #30292D;
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  border: 2px solid #5c7180;
  transition: all 2s linear;
}

.section .container h2:hover {
  border-color: #1f1f1f;
  color: khaki;
}

.section .container .images {
  display: flex;
  justify-content: space-around;
  background-color: #aCA9CE;
  margin: 50px 0px;
  padding-top: 50px;
}

.section .container .images .wraper {
  max-width: 400px;
  height: 400px;
}

.section .container .images .wraper img {
  width: 100%;
}

footer h2 {
  font-family: "Allison";
  text-align: center;
  font-size: 25px;
  background-color: #619c61;
  max-width: 1200px;
  margin: 0 auto;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #7f6e83;
  display: flex;
  justify-content: space-around;
}

footer .container .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

footer .container .list {
  font-family: "Allison";
}

footer .container .list a {
  font-weight: bold;
  font-size: 20px;
  color: #1f1f1f;
}
/*# sourceMappingURL=global.css.map */