$display:flex;
$space:space-between;
$zcool:'ZCOOL KuaiLe', cursive;
$allison:'Allison';
$color-1:hsl(0, 0%, 12%);
$color-2:#1f1f1f;
$around:space-around;
$center:center;
$margin:50px 0px;
$color-3:#30292D;
$centering:0 auto;
$padding:50px;
$color-4:#aCA9CE;
$colo-5:#7f6e83;

